<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
{% load static %}
<div class="wrapper row4">
    <footer id="footer" class="hoc clear">
        <div class="center btmspace-50">
            <h6 class="heading">Maxpro</h6>
            <nav>
                <ul class="nospace inline pushright uppercase">
                    <li><a href="/"><i class="fas fa-lg fa-home"></i></a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">Disclaimer</a></li>
                </ul>
            </nav>
        </div>
        <!-- ################################################################################################ -->
        <hr class="btmspace-50">
        <!-- ################################################################################################ -->
        <div class="group">
            <div class="one_quarter first">
                <h6 class="heading">Ligula aenean id odio</h6>
                <ul class="nospace btmspace-30 linklist contact">
                    <li><i class="fas fa-map-marker-alt"></i>
                        <address>
                            Street Name &amp; Number, Town, Postcode/Zip
                        </address>
                    </li>
                    <li><i class="fas fa-phone"></i> +00 (123) 456 7890</li>
                    <li><i class="far fa-envelope"></i> info@domain.com</li>
                </ul>
                <ul class="faico clear">
                    <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                    <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                    <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a class="faicon-vk" href="#"><i class="fab fa-vk"></i></a></li>
                </ul>
<!--                scjhhvsadhas-->
            </div>
            <div class="one_quarter">
                <h6 class="heading">Vivamus risus maecenas</h6>
                <p class="nospace btmspace-15">Nunc urna porttitor eget molestie a consequat at lectus donec
                    sollicitudin.</p>
                <form method="post" action="#">
                    <fieldset>
                        <legend>Newsletter:</legend>
                        <input class="btmspace-15" type="text" value="" placeholder="Name">
                        <input class="btmspace-15" type="text" value="" placeholder="Email">
                        <button type="submit" value="submit">Submit</button>
                    </fieldset>
                </form>
            </div>
            <div class="one_quarter">
                <h6 class="heading">Dictum sit amet tortor</h6>
                <ul class="nospace linklist">
                    <li><a href="#">Est a orci donec eleifend</a></li>
                    <li><a href="#">Dignissim erat proin diam</a></li>
                    <li><a href="#">Aenean vehicula augue</a></li>
                    <li><a href="#">Et neque sed ligula nisl</a></li>
                    <li><a href="#">Dictum quis tempus eu</a></li>
                </ul>
            </div>
            <div class="one_quarter">
                <h6 class="heading">Proin tincidunt venenatis</h6>
                <ul class="nospace clear latestimg">
                    <li><a class="imgover" href="#"><img src="{%static 'images/demo/100x100.png'%}" alt=""></a></li>
                    <li><a class="imgover" href="#"><img src="{%static 'images/demo/100x100.png'%}" alt=""></a></li>
                    <li><a class="imgover" href="#"><img src="{%static 'images/demo/100x100.png'%}" alt=""></a></li>
                    <li><a class="imgover" href="#"><img src="{%static 'images/demo/100x100.png'%}" alt=""></a></li>
                    <li><a class="imgover" href="#"><img src="{%static 'images/demo/100x100.png'%}" alt=""></a></li>
                    <li><a class="imgover" href="#"><img src="{%static 'images/demo/100x100.png'%}"alt=""></a></li>
                    <li><a class="imgover" href="#"><img src="{%static 'images/demo/100x100.png'%}" alt=""></a></li>
                    <li><a class="imgover" href="#"><img src="{%static 'images/demo/100x100.png'%}" alt=""></a></li>
                    <li><a class="imgover" href="#"><img src="{%static 'images/demo/100x100.png'%}" alt=""></a></li>
                </ul>
            </div>
        </div>

    </footer>
</div>
<div class="wrapper row5">
    <div id="copyright" class="hoc clear">
        <p class="fl_left">Copyright &copy; 2021 - All Rights Reserved - <a href="/">Maxpro.com</a></p>
    </div>
</div>
</body>
</html>