<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
</head>
<body>
{% load static %}
<div class="bgded overlay" style="background-image:url('static/images/headerimage/h1.jpg');">
    <div class="wrapper row0">
        <div id="topbar" class="hoc clear">
            <div class="fl_left">
                <ul class="nospace">
                    <li><i class="fas fa-phone"></i> +00 (123) 456 7890</li>
                    <li><i class="far fa-envelope"></i> info@domain.com</li>
                </ul>
            </div>
            <div class="fl_right">
                <ul class="nospace">
                    <li><a href="index.html"><i class="fas fa-home"></i></a></li>
                    <li><a href="#" title="Help Centre"><i class="fas fa-life-ring"></i></a></li>
                    <li><a href="#" title="Login"><i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#" title="Sign Up"><i class="fas fa-edit"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="wrapper row1">
        <header id="header" class="hoc clear">
            <div id="logo" class="fl_left">
                <h1><a href="/">MaxPro</a></h1>
            </div>
            <nav id="mainav" class="fl_right">
                <ul class="clear">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a class="drop" href="#">Study Aboard</a>
                        <ul>
                            <li><a href="#">Study at America </a></li>
                            <li><a href="#">Study at Australia </a></li>
                            <li><a href="#">Study at Canada </a></li>
                            <li><a class="drop" href="#">Study at Europe </a>
                                <ul>
                                    <li><a href="#">Study at Germany </a></li>
                                    <li><a href="#">Study at Poland </a></li>
                                    <li><a href="#">Study at Cyprus </a></li>
                                </ul>
                            </li>
                            <li><a href="#">Study at Japan </a></li>
                            <li><a href="#">Study at New Zealand </a></li>
                            <li><a href="#">Study at UK </a></li>
                        </ul>
                    </li>
                    <li><a class="drop" href="#">Test Preparation</a>
                        <ul>
                            <li><a href="#">IELTS</a></li>
                            <li><a href="#">PTE</a></li>
                            <li><a href="#">TOEFL</a></li>
                            <li><a href="#">SAT</a></li>
                            <li><a href="#">GRE</a></li>
                            <li><a href="#">GMAT</a></li>
                        </ul>
                    </li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="#">
                        <button class="btn btn-primary">Enroll Here</button>
                    </a></li>
                </ul>
            </nav>
            <!-- ################################################################################################ -->
        </header>
    </div>

    <div id="pageintro" class="hoc clear">
        <article class="center">
            <h6 class="heading underline">MAXPRO PREMIUM EDUCATION CONSULTANCY</h6>

            <p>We offer student to make best decision to study aboard.</p>
            <footer><a class="btn" href="#">About </a></footer>
        </article>
    </div>
</div>

</body>
</html>