{% extends 'basic.html' %}
{% block title %} Blog{%endblock%}
{% load static %}
{% block body %}

<div class="wrapper row2">
    <article class="hoc container clear">
        <div class="center btmspace-80">
            <h6 class="heading underline font-x2">Blogs</h6>
        </div>

        <!--blog section begin here-->

        {% for i in blog1 %}
        <div class="row" style="background-color:;">
            <h3>{{i.title}}</h3> <br>
            <p>PostedOn {{i.date}} by <b style="color:red">{{i.postedBy}}</b></p>
            <div class="row">
                <div class="col-sm-4">
                    <figure><img src="{{ i.image.url }}"  alt="img"/></figure>

                </div>
                <div class="col-sm-8" style="overflow:auto;">
                    <p>{{i.description}}</p>
                </div>
            </div>
        </div>

        {%endfor%}
    </article>
</div>

{%endblock%}