{% load static %}
<!DOCTYPE html>
<html lang="">
<head>
    <title>Maxpro.com</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="{% static 'styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">

{% include 'include/header.html'%}
<!-- End Top Background Image Wrapper -->

<div class="wrapper row3">
    <main class="hoc container clear">
        <!-- main body -->

        <div class="center btmspace-80">
            <h6 class="heading underline font-x2">Aliquam erat volutpat</h6>
        </div>
        <ul class="nospace group overview btmspace-80">
            <li class="one_quarter">
                <article><a href="#"><i class="fas fa-eraser"></i></a>
                    <h6 class="heading"><a href="#">Vivamus laoreet orci vel massa phasellus</a></h6>
                    <p>Tortor praesent et nulla maecenas eu nibh laoreet varius mauris lectus&hellip;</p>
                    <footer><a href="#">View Details &raquo;</a></footer>
                </article>
            </li>
            <li class="one_quarter">
                <article><a href="#"><i class="fas fa-cut"></i></a>
                    <h6 class="heading"><a href="#">Sem iaculis blandit ultrices adipiscing</a></h6>
                    <p>Ultricies et ligula aliquam erat volutpat cras lobortis augue in vulputate&hellip;</p>
                    <footer><a href="#">View Details &raquo;</a></footer>
                </article>
            </li>
            <li class="one_quarter">
                <article><a href="#"><i class="fas fa-hand-holding-heart"></i></a>
                    <h6 class="heading"><a href="#">Rhoncus sapien magna turpis proin</a></h6>
                    <p>Posuere justo non malesuada libero ut lectus curabitur eu neque felis&hellip;</p>
                    <footer><a href="#">View Details &raquo;</a></footer>
                </article>
            </li>
            <li class="one_quarter">
                <article><a href="#"><i class="fas fa-rocket"></i></a>
                    <h6 class="heading"><a href="#">Dictum quisque est imperdiet pulvinar</a></h6>
                    <p>Quam iaculis sed pretium ac fringilla ultricies nibh in mauris libero interdum&hellip;</p>
                    <footer><a href="#">View Details &raquo;</a></footer>
                </article>
            </li>
        </ul>
        <footer class="center"><a class="btn" href="#">Quis molestie convallis</a></footer>
        <!-- / main body -->
        <div class="clear"></div>
    </main>
</div>
<div class="wrapper row2">
    <article class="hoc container clear">
        <div class="center btmspace-80">
            <h6 class="heading underline font-x2">Non felis ut in dolor</h6>
        </div>
        <ul class="nospace group figures btmspace-80">
            <li class="one_third first">
                <figure><img src="{%static 'images/demo/348x261.png'%}" alt="">
                    <figcaption><em>01</em> <a href="#">At sapien elementum sed aliquet</a></figcaption>
                </figure>
            </li>
            <li class="one_third">
                <figure><img src="{%static 'images/demo/348x261.png'%}" alt="">
                    <figcaption><em>02</em> <a href="#">Luctus etiam eleifend quis odio</a></figcaption>
                </figure>
            </li>
            <li class="one_third">
                <figure><img src="{%static 'images/demo/348x261.png'%}" alt="">
                    <figcaption><em>03</em> <a href="#">Nisl nec lectus donec amet justo</a></figcaption>
                </figure>
            </li>
        </ul>
        <footer class="center"><a class="btn" href="#">Condimentum purus nec</a></footer>

    </article>
</div>
<div class="bgded overlay startlt light" style="background-image:url('static/images/demo/backgrounds/01.png');">
    <section id="segment" class="hoc clear">
        <div class="two_third">
            <h6 class="heading underline font-x2">Mauris at tellus dui integer</h6>
            <p class="btmspace-50">Eu tortor bibendum est faucibus gravida donec velit lacus blandit ultricies placerat
                a pharetra a nulla pellentesque sit donec scelerisque etiam et tellus eget urna.</p>
            <article><a href="#"><i class="fas fa-flag-checkered"></i></a>
                <h6 class="heading">Turpis nulla id nisl</h6>
                <p>Suspendisse fermentum purus commodo ultricies adipiscing augue ante facilisis dolor eget varius justo
                    elit sit amet leo vivamus suspendisse&hellip;</p>
                <footer><a href="#">Read More &raquo;</a></footer>
            </article>
            <article><a href="#"><i class="fas fa-recycle"></i></a>
                <h6 class="heading">Scelerisque pellentesque</h6>
                <p>Sed leo duis adipiscing ligula eget risus curabitur id quam a odio malesuada euismod mauris faucibus
                    aliquet urna vivamus et libero duis sed&hellip;</p>
                <footer><a href="#">Read More &raquo;</a></footer>
            </article>
        </div>
    </section>
</div>
<div class="wrapper row2">
    <section class="hoc container clear">
        <div class="center btmspace-80">
            <h6 class="heading underline font-x2">Justo maecenas at lectus</h6>
        </div>
        <ul class="nospace group figures latest btmspace-80">
            <li class="one_third first">
                <figure><img src="{%static 'images/demo/348x261.png'%}" alt="">
                    <figcaption><a href="#">Sem integer vulputate</a>
                        <time datetime="2045-04-03"><strong>03</strong> Apr</time>
                    </figcaption>
                </figure>
            </li>
            <li class="one_third">
                <figure><img src="{%static 'images/demo/348x261.png' %}" alt="">
                    <figcaption><a href="#">Lectus vitae lorem quisque</a>
                        <time datetime="2045-04-02"><strong>02</strong> Apr</time>
                    </figcaption>
                </figure>
            </li>
            <li class="one_third">
                <figure><img src=" {% static 'images/demo/348x261.png'%} " alt="">
                    <figcaption><a href="#">Pede purus faucibus in</a>
                        <time datetime="2045-04-01"><strong>01</strong> Apr</time>
                    </figcaption>
                </figure>
            </li>
        </ul>
        <footer class="center"><a class="btn" href="#">Bibendum eget hendrerit</a></footer>
    </section>
</div>

<div class="wrapper bgded overlay" style="background-image:url('static/images/demo/backgrounds/01.png');">
    <section id="testimonials" class="hoc container clear">
        <div class="center btmspace-80">
            <h6 class="heading underline font-x2">morbi ac diam quis felis</h6>
        </div>
        <ul class="nospace group btmspace-80">
            <li class="one_third first">
                <blockquote>Aliquet ullamcorper vivamus a metus nullam arcu duis augue nisl pulvinar sit amet hendrerit
                    commodo feugiat pharetra lorem quisque porttitor leo vitae tincidunt rutrum urna turpis laoreet enim
                </blockquote>
                <figure class="clear"><img class="circle" src="{%static 'images/demo/60x60.png'%}"  alt="">
                    <figcaption>
                        <h6 class="heading">A. Doe</h6>
                        <em>CEO / Company Name</em></figcaption>
                </figure>
            </li>
            <li class="one_third">
                <blockquote>Sed iaculis metus pede feugiat ante quisque mi curabitur lectus in molestie sed consectetuer
                    fusce cursus mattis leo suspendisse facilisis sodales nulla in molestie in vehicula elementum ligula
                </blockquote>
                <figure class="clear"><img class="circle" src="{%static 'images/demo/60x60.png'%}" alt="">
                    <figcaption>
                        <h6 class="heading">B. Doe</h6>
                        <em>Director / Company Name</em></figcaption>
                </figure>
            </li>
            <li class="one_third">
                <blockquote>Donec dictum sed ut odio in risus eleifend consectetuer suspendisse potenti nam dictum
                    laoreet lectus aenean laoreet ipsum consectetuer lacus ut convallis lectus ac magna in ornare nisi
                    vitae massa
                </blockquote>
                <figure class="clear"><img class="circle" src="{%static 'images/demo/60x60.png'%}" alt="">
                    <figcaption>
                        <h6 class="heading">C. Doe</h6>
                        <em>Marketing / Company Name</em></figcaption>
                </figure>
            </li>
        </ul>
        <footer class="center"><a class="btn" href="#">Cras fringilla gravida</a></footer>
    </section>
</div>
<!-- footer start -->
{% include 'include/footer.html'%}
<!--end foroter-->
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="{% static 'scripts/jquery.min.js' %}"></script>
<script src="{% static 'scripts/jquery.backtotop.js' %}"></script>
<script src="{% static 'scripts/jquery.mobilemenu.js' %}"></script>
</body>
</html>